# compiled output
/node_modules
/.env
/env.ts
.agents
skill.md
skills-lock.json
/rsa
/ignored
temp_auto_push.bat
/private
/public
/dist
/.cursor
/general/dist
/hospitalizacion/dist
/historia-clinica/dist
/facturacion/dist
/cartera/dist
/inventario/dist.gitignore
branch_structure.json
