# compiled output
/node_modules
/.env
/env.ts
.agents
skill.md
skills-lock.json
/rsa
/ignored
/private
/public
/dist
temp_auto_push.bat
/.cursor
/fileserver/dist
/legacy-gen/dist
/legacy-hpn/dist
/legacy-inn/dist
/general/public
/general/dist
/hospitalizacion/dist
/historia-clinica/dist
/facturacion/dist
/cartera/dist
/inventario/dist
/inventario/private.gitignore
branch_structure.json
